<h1>OpenGL Shader Code</h1>

<h2>Creating and compiling shaders</h2>
<pre><code>
unsigned int create_and_compile_shader(const char* source, unsigned int shader_type)
{
	unsigned int shader = glCreateShader(shader_type);

	glShaderSource(shader, 1, &source, NULL);
	glCompileShader(shader);

	unsigned int compile_status;
	glGetShaderiv(shader, GL_COMPILE_STATUS &compile_status);
	if(compile_status != GL_TRUE)
	{
		int log_size = 0;
		char* log[1024];
		glGetShaderInfoLog(shader, 1024, &log_size, log);
		printf("Shader error:\n %s", log);
		return 0;
	}

	return shader;
}
</code></pre>

<h2>Creating and link program from shaders</h2>
<pre><code>
unsigned int create_and_link_program(const unsigned int* shaders, int size)
{
	unsigned int program = glCreateProgram();

	for(int i = 0; i < size; ++i)
	{
		glAttachShader(program, shaders[i]);
	}

	glLinkProgram(program);

	int link_status = 0;
	glGetProgramiv(program, GL_LINK_STATUS, &link_status);

	if(link_status != GL_TRUE)
	{
		int log_size;
		char log[1024];
		glGetProgramInfoLog(program, 1024, &log_size, log);
		printf("Program link error:\n %s", log);
		return 0;
	}

	return program;
}
</code></pre>
