<h1>Setup an OpenGL context with GCC and GLFW in Windows</h1>

<h2>Prerequisites</h2>
<ul>
    <li>Basic knowledge of using cmd.</li>
</ul>

Note: This post is only concerned with the steps to quickly setup an OpenGL context using GCC and GLFW in Windows.
<br>
This post will not try to go in depth into the topics presented.
<br>
If you want to learn more about OpenGL, I recommend <a href=""></a>

<h2>Setting up the C compiler</h2>

The programming language of choice in this post is C so you will need to download the GCC compiler first.<br>
This is needed to compile and link your C program.
<br>
One way to get hold of the GCC compiler is to go to the download page on <a href="http://mingw-w64.org/doku.php">mingw-w64's website</a> and download the installer for the latest mingw-w64 build.
<br>
In the installation wizard, set Architecture to x86_64 and set Threads to win32. I recommend setting the Destination folder to "C:\mingw".
<br>
When the installer has finished, you need to edit the PATH system environment variable so cmd can find GCC.
<br>
If you specified the destination folder as previous, add an entry to PATH with the value "C:\mingw\mingw64\bin".
<br>
To make sure everything is working, open cmd and type "gcc --version". The version should be displayed.
<br>
If not, you likely failed one of the steps.
<br>

<h2>Setting up the Project</h2>

<p>Create a folder for your project and add the subfolders <code>lib</code> and <code>include</code>.
<br>
Pop up a text editor, create a text file and save it as <code>main.c</code> into your project directory.
<br>
You should now have the following structure:</p>

<ul>
    <li>&lt;project-folder&gt;</li>
    <ul>
        <li>lib</li>
        <li>include</li>
    </ul>
    <li>main.c</li>
</ul>

Download one of the Windows pre-compiled binaries from <a href="https://www.glfw.org/">GLFW</a>. I will be using the 64-bit version.
<br>
Paste the contents of <code>lib-mingw-w64</code> into the <code>lib</code> folder and paste the contents of <code>include</code> into the <code>include</code> folder.
<br>
<br>
I will use GLAD to load OpenGL. You can get GLAD using David Herberth's <a href="https://glad.dav1d.de/">web service</a>.
<br>
In the web service, set gl to 4.5 and set the profile to Core and click Generate.
<br>
Drag the contents of include into your project's include folder.
<br>
Drag the contents of src into the project folder.
<br>
Paste in the following code into <code>main.c</code>:
<br>

<pre><code>
#include &lt;stdio.h&gt;
#include "glad/glad.h"

#define GLFW_DLL
#include "GLFW/glfw3.h"

int main()
{
  GLFWwindow* window;

  if(!glfwInit())
  {
	  printf("Failed to initilize GLFW!\n");
	  return -1;
  }

  glfwWindowHint(GLFW_CONTEXT_VERSION_MAJOR, 4);
  glfwWindowHint(GLFW_CONTEXT_VERSION_MINOR, 5);
  glfwWindowHint(GLFW_OPENGL_PROFILE, GLFW_OPENGL_CORE_PROFILE);
  
  window = glfwCreateWindow(640, 480, "Hello world", NULL, NULL);
  if(!window)
  {
	  glfwTerminate();
	  return -1;
  }

  glfwMakeContextCurrent(window);

  if(!gladLoadGLLoader((GLADloadproc)glfwGetProcAddress))
  {
	  printf("Failed to initialize GLAD!\n");
      glfwTerminate();
	  return -1;
  }

  glViewport(0, 0, 640, 480);
  
  while(!glfwWindowShouldClose(window))
  {
	  glClear(GL_COLOR_BUFFER_BIT);
	  glfwSwapBuffers(window);
	  glfwPollEvents();
  }

  glfwTerminate();
  
  return 0;
}
</code></pre>

This code snippet is a slightly modified version of the sample found on <a href="https://www.glfw.org/documentation.html">GLFW's website</a>.
<br>

<h2>Compiling and Linking</h2>

Save the file and navigate to the the directory where <code>main.c</code> is in cmd.
<br>
<br>
Execute <code>gcc -g -Wall -I include main.c glad.c -o Example -L lib -lglfw3 -lglfw3dll -lopengl32</code>.
<br>
The <code>-g</code> flag tells the compiler to generate debugging information.
<br>
The <code>-Wall</code> flag tells the compiler to enable all warning messages.
<br>
<code>-I include</code> tells the compiler to add the subfolder <code>include</code> as an include directory.
<br>
<code>main.c glad.c</code> specifies the source files we want to compile.
<br>
<code>-o Example</code> writes the build output to <code>Example.exe</code>.
<br>
<code>-L lib</code> tells the compiler to look for libraries in the <code>lib</code> subfolder.
<br>
<code>-lglfw3 -lglfw3dll -lopengl32</code> tells the compiler to link the GLFW libraries and the OpenGL library.
<br>
<br>
After the command has finished executing. Type <code>Example.exe</code> to execute the program.
<br>
If everything went alright, you should see a black window pop up.
